.container{

    font-family: Roboto;
    letter-spacing: 0.5px;
    margin-top: 60px;
    max-width: 100rem !important;
}

#main-container li{
    list-style: none;
}

.thumbnail{
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

#main-container .row{
    margin-bottom: 20px;
}

.footer{
    margin-bottom: 100px !important;
}

.one-third {
    margin-bottom: 20px;
}

.one-third p{
    margin-bottom: 5px;
}

.header{
    margin-bottom: 50px;
}

.header h5, .header p{
    margin-bottom: 5px;
}

h5, h6{
    font-weight: 700;
}

a{
    text-decoration: none;
}

.chapter.resources{
    margin-bottom: 40px;
}